/* SCSS HEX */
$white: #ffffffff;
$antique-white: #ffe8d1ff;
$blue-munsell: #568ea3ff;
$middle-blue: #68c3d4ff;
$raw-umber: #826251ff;


.button-action{
    margin: 10px;
    height: 10rem;

    background-color:$antique-white;
}